/* Search Template Custom CSS by saurabh sharma on 29072021 */
.navbar{
    position: sticky;
    width: 100%;
    top: 0;
}
.content{
    height: inherit;
    box-shadow: none;
}
.searchContainer{
    width: 100%;
    max-width: calc(100% - 100px);
    display: table;
    margin: 0 auto;
    padding: 25px 0;
    height: calc(100vh - 100px);
    overflow-y: auto;
    /* padding-top: 100px; */
}
.searchContainer .profileCard{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 15px;
    position: relative;
    padding-left: 90px;
    margin: 10px 0;
    display: inline-grid;
    width: 100%;
    min-height: 95px;
}
.searchContainer .profileCard:first-child{
    margin-top: 0;
}
.searchContainer .profileCard:hover{
    background-color: #f8f8f8;
}
.searchContainer .profileCard h4{
    font-size: 18px;
}
.searchContainer .profileCard p{
    font-size: 14px;
    margin-bottom: 5px;
}
.searchContainer .profileCard .aboutMe{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.searchContainer .profileCard .imgDv{
    width: 60px;
    height: 60px;
    display: table;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.15);
    position: absolute;
    left: 15px;
    top: 15px;
    overflow: hidden;
}
.searchContainer .profileCard .imgDv img{
    width: 100%;
    min-height: 60px;
    max-height: 60px;
}

.searchContainer .searchFieldTags ul.lightTags li.list-inline-item{
    margin-bottom: 10px;
}
.searchContainer .searchFieldTags ul.lightTags li.list-inline-item a{
    background-color: #efefef;
    padding: 0 20px;
    line-height: 30px;
    border-radius: 25px;
    font-size: 12px;
    display: block;
    color: #000;
    text-decoration: none;
}
.searchContainer .searchFieldTags ul.lightTags li.list-inline-item a:hover{
    background-color: rgba(133,13,113,1);
    color: #fff;
}



.searchContainer .searchFieldTags ul.darkTags li.list-inline-item{
    margin-bottom: 10px;
    background-color: rgba(133,13,113,1) !important;
    padding: 0 20px;
    line-height: 30px;
    border-radius: 25px;
    font-size: 12px;
    color: #fff;    
}
.searchContainer .searchFieldTags ul.darkTags li.list-inline-item a{
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    display: inline-block;
}

.leftPannel{
    position: sticky;
    top: 100px;
}
.rightPannel{
    position: sticky;
    top: 100px;
}
.rightPannel .searchCard{
    background: #fff;
    box-shadow: 0px 0 10px #ccc;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.search-box{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}
.search-box .form-control{
    border: 0;
    box-shadow: none !important;
    background: #fff;
}
.search-box .input-group-addon{
    height: 48px;
    line-height: 48px;
    margin-top: -4px;
    padding: 0;

}
.search-box .input-group-addon .fa-search{
    padding: 0 10px;
    border-left: 1px solid #ccc;
}

ul.ui-widget-content{
    z-index: 9999;
    position: fixed;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-menu-item-wrapper{
    padding:5px 5px 5px 50px !important;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 50px;
    overflow: hidden;
}

*{
    outline: none !important;
}
.ui-menu-item-wrapper img,.ui-menu-item-wrapper:hover img{
    background: #fff;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px !important;
    min-height: 40px;
    max-height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    display: table;
}



/* divyansh Css */
/* .ui-menu-item:hover{
    background-color: #850d71;
}
.ui-menu-item-wrapper:hover{
    background-color: #850d71;
}
.ui-widget-content:hover{
    background-color: #850d71;
} */
.setting-acc-color:hover{
    color: #000;
}
.profileCard h4{
    color: #5c5c5c;
}
.profileCard p{
    color: #5c5c5c;
}
.no-decoration:hover{
    text-decoration: none;
}
.tinder-desc p{
    top: 50px;
    color:#fff;
}
/* .tinder-desc{
    width: 100%!important;
}
.custom-tinder-slide li{
    width: 100%!important;
} */
.custom-tinder-slide{
    background: transparent!important;
    height: 91.7vh!important;
}
.tinder-interest-custom{
    font-size: 17px!important;
}
.custom-pro-head h2{
    color: #000!important;
    font-weight: 500;
    font-size: 16px!important;
    position: unset!important;
    text-shadow: 0 0 black!important;
}
.custom-common span{
    font-size: 16px!important;
}
.tinder-desc{
    height: 91.7vh!important;
}
.hide-on-desk{
    display: none;
}